# imports

In [1]:
import xgboost as xgb
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np
from z3 import *
from xgboost import XGBClassifier
from pmlb import fetch_data

set_option(rational_to_decimal=True)

In [30]:
import multiprocessing
print("Número de núcleos disponíveis:", multiprocessing.cpu_count())
set_param("parallel.enable", True)
set_param("threads", 16)

Número de núcleos disponíveis: 16

# model

In [31]:
from z3 import *
import numpy as np


class XGBoostExplainer:
    def __init__(self, model, data):
        self.model = model
        self.data = data.values
        self.columns = data.columns
        self.max_categories = 2

        set_option(rational_to_decimal=True)
        self.categoric_features = self.get_categoric_features(self.data)
        self.T_model = self.model_trees_expression(self.model)
        self.T = self.T_model

    def explain(self, instance, reorder="asc"):
        self.I = self.instance_expression(instance)
        self.D, self.D_add = self.decision_function_expression(self.model, [instance])
        return self.explain_expression(self.I, And(self.T, self.D_add), self.D, self.model, reorder)

    def explain_prob(self, instance, reorder="asc", threshold_margin=0, target_threshold=None):
        self.I = self.instance_expression(instance)
        self.D, self.D_add = self.decision_function_expression(self.model, [instance])
        return self.explain_expression_prob(self.I, And(self.T, self.D_add), self.D, self.model, reorder, threshold_margin, target_threshold)

    def get_categoric_features(self, data: np.ndarray):
        categoric_features = []
        for i in range(data.shape[1]):
            feature_values = data[:, i]
            unique_values = np.unique(feature_values)
            if len(unique_values) <= self.max_categories:
                categoric_features.append(self.columns[i])

        return categoric_features

    def feature_constraints(self, constraints=[]):
        """TODO
        esperado receber limites das features pelo usuário
        formato previso: matriz/dataframe [feaature, min/max, valor]
        constraaint_expression = "constraaint_df_to_feature()"
        """
        return

    def model_trees_expression(self, model):
        df = model.get_booster().trees_to_dataframe()
        if model.get_booster().feature_names == None:
            feature_map = {f"f{i}": col for i, col in enumerate(self.columns)}
            df["Feature"] = df["Feature"].replace(feature_map)

        df["Split"] = df["Split"].round(4)
        self.booster_df = df
        class_index = 0  # if model.n_classes_ == 2:
        all_tree_formulas = []

        for tree_index in df["Tree"].unique():
            tree_df = df[df["Tree"] == tree_index]
            o = Real(f"o_{tree_index}_{class_index}")

            if len(tree_df) == 1 and tree_df.iloc[0]["Feature"] == "Leaf":
                leaf_value = tree_df.iloc[0]["Gain"]
                all_tree_formulas.append(And(o == leaf_value))
                continue
            path_formulas = []

            def get_conditions(node_id):
                conditions = []
                current_node = tree_df[tree_df["ID"] == node_id]
                if current_node.empty:
                    return conditions

                parent_node = tree_df[
                    (tree_df["Yes"] == node_id) | (tree_df["No"] == node_id)
                ]
                if not parent_node.empty:
                    parent_data = parent_node.iloc[0]
                    feature = parent_data["Feature"]
                    split_value = parent_data["Split"]
                    x = Real(feature)
                    if parent_data["Yes"] == node_id:
                        conditions.append(x < split_value)
                    else:
                        conditions.append(x >= split_value)
                    conditions = get_conditions(parent_data["ID"]) + conditions

                return conditions

            for _, node in tree_df[tree_df["Feature"] == "Leaf"].iterrows():
                leaf_value = node["Gain"]
                leaf_id = node["ID"]
                conditions = get_conditions(leaf_id)
                path_formula = And(*conditions)
                implication = Implies(path_formula, o == leaf_value)
                path_formulas.append(implication)

            all_tree_formulas.append(And(*path_formulas))
        return And(*all_tree_formulas)

    def get_init_value(self, model, x, estimator_variables):
        estimator_pred = Solver()
        estimator_pred.add(self.I)
        estimator_pred.add(self.T)
        if estimator_pred.check() == sat:
            solvermodel = estimator_pred.model()
            total_sum = sum(
                float(solvermodel.eval(var).as_fraction()) for var in estimator_variables
            )
        else:
            total_sum = 0
            print("estimator error")
        self.predicted_margin = model.predict(x, output_margin=True)[0]
        init_value = self.predicted_margin - total_sum
        self.init_value = init_value
        return init_value

    def decision_function_expression(self, model, x):
        n_classes = 1 if model.n_classes_ <= 2 else model.n_classes_
        predicted_class = model.predict(x)[0]
        self.predicted_class = predicted_class
        n_estimators = int(len(model.get_booster().get_dump()) / n_classes)
        estimator_variables = [Real(f"o_{i}_0") for i in range(n_estimators)] # _0 only for binary classification
        self.estimator_variables = estimator_variables
        init_value = self.get_init_value(model, x, estimator_variables)
        # print("init:", round(init_value, 2))

        equation_list = []

        estimator_sum = Real("estimator_sum")
        equation_o = estimator_sum == Sum(estimator_variables)
        equation_list.append(equation_o)

        decision = Real("decision")
        equation_list.append(decision == estimator_sum + init_value)

        if predicted_class == 0:
            final_equation = decision < 0
        else:
            final_equation = decision > 0

        return final_equation, And(equation_list)

    def instance_expression(self, instance):
        formula = [Real(self.columns[i]) == value for i, value in enumerate(instance)]
        return formula

    def explain_expression(self, I, T_s, D_s, model, reorder):
        i_expression = I.copy()

        importances = model.feature_importances_
        non_zero_indices = np.where(importances != 0)[0]

        if reorder == "asc":
            sorted_feature_indices = non_zero_indices[
                np.argsort(importances[non_zero_indices])
            ]
            i_expression = [i_expression[i] for i in sorted_feature_indices]
        elif reorder == "desc":
            sorted_feature_indices = non_zero_indices[
                np.argsort(-importances[non_zero_indices])
            ]
            i_expression = [i_expression[i] for i in sorted_feature_indices]

        for feature in i_expression.copy():
            # print("\n---removed", feature)
            i_expression.remove(feature)

            # prove(Implies(And(And(i_expression), T), D))
            if self.is_proved(Implies(And(And(i_expression), T_s), D_s)):
                continue
                # print('proved')
            else:
                # print('not proved')
                i_expression.append(feature)
        # print(self.is_proved(Implies(And(And(i_expression), T_s), D_s)))
        return i_expression

    def explain_expression_prob(self, I, T_s, D_s, model, reorder, threshold_margin, target_threshold):
        i_expression = I.copy()

        importances = model.feature_importances_
        non_zero_indices = np.where(importances != 0)[0]

        if reorder == "asc":
            sorted_feature_indices = non_zero_indices[
                np.argsort(importances[non_zero_indices])
            ]
            i_expression = [i_expression[i] for i in sorted_feature_indices]
        elif reorder == "desc":
            sorted_feature_indices = non_zero_indices[
                np.argsort(-importances[non_zero_indices])
            ]
            i_expression = [i_expression[i] for i in sorted_feature_indices]

        threshold = 0

        if target_threshold:
            threshold = target_threshold
        elif threshold_margin != 0:
            threshold = self.predicted_margin * threshold_margin/100
            # print("margin:", self.predicted_margin, "accepted margin:", threshold)
        self.xai_predicted_margin = self.predicted_margin

        for feature in i_expression.copy():
            # print("\n---removed", feature)
            i_expression.remove(feature)

            if self.is_proved_sat(And(And(i_expression), T_s), threshold):
                # print('proved')
                continue
            else:
                # print('not proved -- added back')
                i_expression.append(feature)
        return i_expression


    def is_proved(self, decision_exp):
        s = Solver()
        s.add(Not(decision_exp))
        if s.check() == unsat:
            return True
        else:
            # print(s.model())
            return False

    def is_proved_sat(self, decision_exp, threshold):
      decision = Real("decision")

      debug = Real("debug") == 0
      predicted_class = self.predicted_class

      if predicted_class == 0:
        estmax = Optimize()
        estmax.add(decision_exp)
        estmax.add(debug)
        maxvalue = estmax.maximize(decision)
        if estmax.check() == sat:
            # print("\nmax sat", maxvalue.value())
            try:
              if float(maxvalue.value().as_fraction()) > threshold:
                  return False # can change class
              else:
                  self.xai_predicted_margin = float(maxvalue.value().as_fraction())
            except:
              print("error max =", maxvalue.value())
              return False
        else:
            print("error")

      if predicted_class == 1:
        estmin = Optimize()
        estmin.add(decision_exp)
        estmin.add(debug)
        minvalue = estmin.minimize(decision)
        if estmin.check() == sat:
            # print("\nmin sat", minvalue.value())
            try:
              if float(minvalue.value().as_fraction()) < threshold:
                  return False # can change class
              else:
                  self.xai_predicted_margin = float(minvalue.value().as_fraction())
            except:
              print("error min =", minvalue.value())
              return False
        else:
            print("error")

      if predicted_class == 0:
        self.solvermodel = estmax.model()
      if predicted_class == 1:
        self.solvermodel = estmin.model()
      return True

# tests

## iris

In [32]:
iris = load_iris()
X = pd.DataFrame(iris.data, columns=iris.feature_names)
y = iris.target
y[y == 2] = 0  # converte em binario

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=101
)

model = XGBClassifier(n_estimators=100, max_depth=3, learning_rate=1)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

explainer = XGBoostExplainer(model, X_train)

In [33]:
print(len(X_test))
print(model.score(X_test, y_test))
y_pred

30
0.9333333333333333

array([0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 0])

In [34]:
X_test[y_pred == 0].index

Index([33, 16, 43, 123, 146, 1, 147, 32, 31, 122, 127, 42, 48, 114, 25, 41], dtype='int64')

In [35]:
results = []
for i in X_test[y_pred == 0].index:
    sample = X_test.loc[i].values
    xai = explainer.explain_prob(sample, reorder="asc")
    xaiprob_initial = explainer.xai_predicted_margin
    len_xai_initial = len(xai)

    xai = explainer.explain_prob(sample, reorder="asc", target_threshold=xaiprob_initial - 0.01)
    xaiprob_final = explainer.xai_predicted_margin
    len_xai_final = len(xai)

    results.append({
        "index": i,
        "class": 0,
        "xaiprob_initial": xaiprob_initial,
        "len_xai_initial": len_xai_initial,
        "xaiprob_final": xaiprob_final,
        "len_xai_final": len_xai_final
    })
df_results = pd.DataFrame(results)
df_results

,index,class,xaiprob_initial,len_xai_initial,xaiprob_final,len_xai_final
0,33,0,-0.973060,2,-1.143638,3
1,16,0,-0.973056,2,-1.143635,3
2,43,0,-0.973056,2,-1.143635,3
3,123,0,-0.531414,2,-1.155039,2
4,146,0,-2.040002,2,-4.083848,3
5,1,0,-0.973056,2,-1.143635,3
6,147,0,-3.975426,2,-4.865418,3
7,32,0,-0.973056,2,-1.143635,3
8,31,0,-0.973056,2,-1.143635,3
9,122,0,-3.975426,2,-5.215529,3
10,127,0,-0.531416,2,-1.421408,3
11,42,0,-0.973056,2,-1.143635,3
12,48,0,-0.973056,2,-1.143635,3
13,114,0,-3.975425,2,-5.215529,3
14,25,0,-0.973056,2,-1.143635,3
15,41,0,-0.973059,2,-1.686989,3

In [36]:
results = []
for i in X_test[y_pred == 1].index:
    sample = X_test.loc[i].values
    xai = explainer.explain_prob(sample, reorder="asc")
    xaiprob_initial = explainer.xai_predicted_margin
    len_xai_initial = len(xai)

    xai = explainer.explain_prob(sample, reorder="asc", target_threshold=xaiprob_initial + 0.01)
    xaiprob_final = explainer.xai_predicted_margin
    len_xai_final = len(xai)

    results.append({
        "index": i,
        "class": 0,
        "xaiprob_initial": xaiprob_initial,
        "len_xai_initial": len_xai_initial,
        "xaiprob_final": xaiprob_final,
        "len_xai_final": len_xai_final
    })
df_results = pd.DataFrame(results)
df_results

,index,class,xaiprob_initial,len_xai_initial,xaiprob_final,len_xai_final
0,129,0,0.722122,2,1.883706,3
1,50,0,1.369809,2,3.355599,3
2,68,0,1.467798,2,2.541687,3
3,53,0,1.727301,2,2.820987,3
4,74,0,1.727303,2,1.897882,3
5,88,0,1.727299,2,3.069216,3
6,96,0,1.727303,2,1.897882,3
7,134,0,0.151577,4,0.151577,4
8,80,0,1.727301,2,2.820987,3
9,90,0,1.727303,2,2.971770,3
10,65,0,1.727304,2,3.713094,3
11,97,0,1.727303,2,1.897882,3
12,64,0,1.727299,2,1.897877,3
13,93,0,1.727299,2,2.820985,3

## adult dataset

In [37]:
adult = fetch_data('adult')
adult.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,39.0,7,77516.0,9,13.0,4,1,1,4,1,2174.0,0.0,40.0,39,1
1,50.0,6,83311.0,9,13.0,2,4,0,4,1,0.0,0.0,13.0,39,1
2,38.0,4,215646.0,11,9.0,0,6,1,4,1,0.0,0.0,40.0,39,1
3,53.0,4,234721.0,1,7.0,2,6,0,2,1,0.0,0.0,40.0,39,1
4,28.0,4,338409.0,9,13.0,2,10,5,2,0,0.0,0.0,40.0,5,1

In [41]:
X = adult.drop('target', axis=1)
y = adult['target']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.001, random_state=101
)

model = XGBClassifier(n_estimators=100, max_depth=3, learning_rate=1)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

explainer = XGBoostExplainer(model, X_train)

In [42]:
print(len(X_test))
print(model.score(X_test, y_test))
y_pred

49
0.8163265306122449

array([1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1])

In [40]:
results = []
for i in X_test[y_pred == 0].index:
    sample = X_test.loc[i].values
    xai = explainer.explain_prob(sample, reorder="asc")
    xaiprob_initial = explainer.xai_predicted_margin
    len_xai_initial = len(xai)

    xai = explainer.explain_prob(sample, reorder="asc", target_threshold=xaiprob_initial - 0.01)
    xaiprob_final = explainer.xai_predicted_margin
    len_xai_final = len(xai)

    results.append({
        "index": i,
        "class": 0,
        "xaiprob_initial": xaiprob_initial,
        "len_xai_initial": len_xai_initial,
        "xaiprob_final": xaiprob_final,
        "len_xai_final": len_xai_final
    })
df_results = pd.DataFrame(results)
df_results

,index,class,xaiprob_initial,len_xai_initial,xaiprob_final,len_xai_final
0,25242,0,-0.044041,14,-0.044041,14
1,18463,0,-0.107054,9,-0.235938,9
2,8541,0,-0.492402,10,-0.752300,11
3,33498,0,-0.019865,13,-0.019865,14
4,34701,0,-0.197970,14,-0.197970,14
5,32519,0,-0.306206,13,-0.445489,12
6,34570,0,-0.195087,11,-0.429066,11
7,7263,0,-0.145633,11,-0.715617,12
8,3466,0,-0.375374,10,-0.386114,11
9,13535,0,-0.223543,9,-0.601157,9
10,16272,0,-0.065256,14,-0.065256,14

In [13]:
results = []
for i in X_test[y_pred == 1].index:
    sample = X_test.loc[i].values
    xai = explainer.explain_prob(sample, reorder="asc")
    xaiprob_initial = explainer.xai_predicted_margin
    len_xai_initial = len(xai)

    xai = explainer.explain_prob(sample, reorder="asc", target_threshold=xaiprob_initial + 0.01)
    xaiprob_final = explainer.xai_predicted_margin
    len_xai_final = len(xai)

    results.append({
        "index": i,
        "class": 0,
        "xaiprob_initial": xaiprob_initial,
        "len_xai_initial": len_xai_initial,
        "xaiprob_final": xaiprob_final,
        "len_xai_final": len_xai_final
    })
df_results = pd.DataFrame(results)
df_results

,index,class,xaiprob_initial,len_xai_initial,xaiprob_final,len_xai_final
0,30658,0,0.303787,7,0.511284,8
1,25493,0,0.534467,8,1.073083,8
2,11136,0,0.026953,9,0.204349,10
3,3814,0,0.092104,9,0.343091,10
4,743,0,0.092351,8,0.119213,8
5,25242,0,0.147407,9,0.170388,9
6,47228,0,0.215844,6,0.828291,6
7,21872,0,0.404743,8,0.519089,8
8,16644,0,0.700616,8,1.288378,9
9,34372,0,0.406893,9,0.465134,8
10,13979,0,0.534466,8,1.324069,8
11,11474,0,0.098200,7,0.448352,8
12,16894,0,0.001768,8,0.070347,8
13,3441,0,0.704691,8,1.494294,8
14,376,0,0.531171,8,0.797793,9
15,32681,0,0.497152,7,0.897976,8
16,18578,0,0.426707,7,0.600396,8
17,10240,0,0.816639,7,1.071576,7
18,11558,0,0.016139,6,0.223635,7
19,5818,0,0.163566,8,0.626893,8
20,25602,0,0.440478,8,0.813271,9
21,28900,0,0.029345,7,0.372596,7
22,31624,0,0.040912,8,0.149482,8
23,6541,0,0.219227,6,0.462646,6
24,34625,0,0.263809,8,0.339857,9
25,17667,0,0.828291,6,1.139259,7
26,48581,0,0.008634,9,0.931963,8
27,38094,0,0.035563,7,0.656074,8
28,17375,0,0.083546,8,0.741248,8
29,41339,0,0.109702,8,0.359439,9
30,39227,0,0.280596,7,0.874513,8
31,24417,0,1.087319,7,1.932933,8
32,23595,0,0.318786,9,0.585407,10
33,40155,0,0.594559,9,1.109869,8
34,39958,0,0.035563,7,0.656074,8
35,31747,0,0.214417,8,0.596048,9
36,33413,0,0.149442,6,0.160661,7
37,8914,0,0.087476,10,0.465933,11
38,6199,0,1.101173,7,1.536444,8

## mushroom

In [38]:
mushroom = fetch_data("mushroom")
mushroom.head()

,cap-shape,cap-surface,cap-color,bruises?,odor,gill-attachment,gill-spacing,gill-size,gill-color,stalk-shape,...,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat,target
0,2,0,7,0,6,1,0,0,8,1,...,3,5,0,2,1,4,1,4,6,0
1,0,3,9,0,0,1,0,0,4,0,...,7,7,0,2,1,4,0,2,0,0
2,2,3,8,1,6,1,1,0,0,1,...,7,7,0,2,1,0,0,3,0,0
3,2,2,3,1,4,1,0,0,4,0,...,0,5,0,2,1,2,3,4,3,1
4,3,0,0,0,6,1,0,0,8,1,...,7,5,0,2,1,4,0,5,6,0

In [39]:
X = mushroom.drop('target', axis=1)
y = mushroom['target']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=101
)

model = XGBClassifier(n_estimators=30, max_depth=3, learning_rate=1)
model.fit(X_train, y_train)

explainer = XGBoostExplainer(model, X_train)

In [40]:
print(X.shape)
print(model.score(X_test, y_test))
model.predict(X_test[0:30])

(8124, 22)
1.0

array([1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 1])

In [41]:
sample = X_test.values[0]
results, xai_probs, xai_lengths_base = describe_output_margin_results(X, model, explainer, sample, threshold_margin=30, n_generated_samples=10000)
print(xai_lengths_base)
print(xai_probs)
results

{'xai_lenght_base': 5, 'xai_lenght_alt': 6}
{'xai_prob_base': 0.9295845667, 'xai_prob_alt': 3.4170566626}

,dataset_prob,dataset_prob_alt,generated_samples_prob,generated_samples_prob_alt
count,1296.00,1296.00,10000.00,10000.00
mean,9.48,9.48,8.80,8.33
std,0.31,0.31,1.01,1.20
min,8.72,8.72,2.88,3.68
25%,9.25,9.25,8.11,7.56
50%,9.55,9.55,8.77,8.35
75%,9.68,9.68,9.56,9.22
max,10.25,10.25,11.94,12.40

In [42]:
sample = X_test.values[1]
results, xai_probs, xai_lengths_base = describe_output_margin_results(X, model, explainer, sample, threshold_margin=30, n_generated_samples=10000)
print(xai_lengths_base)
print(xai_probs)
results

{'xai_lenght_base': 3, 'xai_lenght_alt': 4}
{'xai_prob_base': -1.8797881866, 'xai_prob_alt': -3.7656140291}

,dataset_prob,dataset_prob_alt,generated_samples_prob,generated_samples_prob_alt
count,1296.00,1104.00,10000.00,10000.00
mean,-10.07,-10.11,-5.42,-8.10
std,0.55,0.58,0.81,1.21
min,-11.01,-11.01,-10.24,-12.44
25%,-10.52,-10.58,-5.94,-8.96
50%,-10.07,-10.18,-5.45,-8.05
75%,-9.68,-9.70,-4.83,-7.18
max,-8.36,-8.36,-2.85,-5.16